<div class="row">
  <div [ngClass]="{'col-md-12':!state,'col-md-6':state}">
    <nb-card status="success">
      <nb-card-header>
        <div style="display: flex;flex-direction: row">

          <!--          <input-->
          <!--            [formControl]="inputFormControl"-->
          <!--            nbInput-->
          <!--            type="text"-->
          <!--            placeholder="Search Node"-->
          <!--            [nbAutocomplete]="autoControl"/>-->

          <!--          <nb-autocomplete #autoControl>-->

          <!--            <nb-option (click)="selectOption(option)" *ngFor="let option of filteredControlOptions$ | async"-->
          <!--                       [value]="option">-->
          <!--              {{ option }}-->
          <!--            </nb-option>-->

          <!--          </nb-autocomplete>-->
          <div style="padding-left: 40%">
            <h4 style="color: white">All Nodes</h4>

          </div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <div class="row">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">site name</th>
              <th scope="col">Cells</th>
              <!--              <th scope="col">Chart</th>-->

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let site of sites?.items">
              <td>
                <div style="font-family:Open Sans, sans-serif"
                     [ngStyle]="site?.trouble?{'color':'red'}:{'color':'black'}">
                  <span class="menu-title">{{site?.sitename}}</span>
                </div>
              </td>
              <!--              <td>-->
              <!--                <button (click)="viewCells(site?.sitename)" nbButton [status]="'primary'">-->
              <!--                  view-->
              <!--                </button>-->
              <!--              </td>-->
              <td>
                <button (click)="openWindow(contentTemplate,site?.sitename)" nbButton [status]="'success'">
                  view
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div style="display: flex;
    justify-content: center;">
          <ngb-pagination *ngIf="displayPaginator" (pageChange)="changePage($event)" size="lg"
                          [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [rotate]="true"
                          [boundaryLinks]="true"></ngb-pagination>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
  <!--  <div *ngIf="state" class="col-md-6">-->
  <!--    <nb-card status="success">-->
  <!--      <nb-card-header>-->
  <!--        <div style="display: flex;flex-direction: row">-->
  <!--          <input-->
  <!--            [formControl]="inputFormControl"-->
  <!--            nbInput-->
  <!--            type="text"-->
  <!--            placeholder="Search Cell"-->
  <!--            [nbAutocomplete]="autoControl"/>-->

  <!--          <nb-autocomplete #autoControl>-->

  <!--            <nb-option (click)="selectCellOption(option)" *ngFor="let option of filteredControlCellOptions$ | async"-->
  <!--                       [value]="option">-->
  <!--              {{ option }}-->
  <!--            </nb-option>-->
  <!--          </nb-autocomplete>-->

  <!--          <div style="padding-left: 20%">-->
  <!--            <h4 style="color: white">Node: {{selectedSite}}</h4>-->
  <!--          </div>-->
  <!--          <div style="padding-left: 20%;">-->
  <!--            <nb-icon (click)="closeCell()" icon="close"></nb-icon>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </nb-card-header>-->
  <!--      <nb-card-body>-->
  <!--        <table class="table table-striped">-->
  <!--          <thead>-->
  <!--          <tr>-->
  <!--            <th scope="col">cell name</th>-->
  <!--            <th scope="col">success rate</th>-->
  <!--            <th scope="col">Chart</th>-->
  <!--          </tr>-->
  <!--          </thead>-->
  <!--          <tbody>-->
  <!--          <tr *ngFor="let cell of cells?.items">-->
  <!--            <td>-->
  <!--              <div style="font-family:Open Sans, sans-serif"-->
  <!--                   [ngStyle]="cell?.trouble?{'color':'red'}:{'color':'black'}">-->
  <!--                <span class="menu-title">{{cell?.cell_name}}</span>-->
  <!--              </div>-->
  <!--            </td>-->
  <!--            <td>-->
  <!--              <span class="menu-title">{{cell?.success_rate}}</span>-->
  <!--            </td>-->
  <!--            <td>-->
  <!--              <button (click)="openDashboardCell(contentTemplate,cell?.cell_name)" nbButton [status]="'primary'">-->
  <!--                view-->
  <!--              </button>-->
  <!--            </td>-->
  <!--          </tr>-->

  <!--        </table>-->
  <!--      </nb-card-body>-->
  <!--      <nb-card-footer>-->
  <!--        <div style="display: flex;-->
  <!--    justify-content: center;">-->
  <!--          <ngb-pagination *ngIf="displayPaginatorCell" (pageChange)="changeCellPage($event)" size="lg"-->
  <!--                          [collectionSize]="collectionSizeCell" [(page)]="cellPage" [maxSize]="5" [rotate]="true"-->
  <!--                          [boundaryLinks]="true"></ngb-pagination>-->
  <!--        </div>-->
  <!--      </nb-card-footer>-->
  <!--    </nb-card>-->
  <!--  </div>-->
</div>
<ng-template #contentTemplate let-data>
  <div class="card" style="position: relative; height:60vh; width:80vw">
    <div class="card-header d-flex justify-content-between">
      <div>
        <i style="cursor: pointer" (click)="pickChart('line')">
          <img
            src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/20/000000/external-line-chart-advertising-kiranshastry-lineal-kiranshastry.png"/>
        </i>
        <i style="cursor: pointer" (click)="pickChart('bar')">
          <img
            src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/20/000000/external-bar-chart-advertising-kiranshastry-solid-kiranshastry.png"/>
        </i>
      </div>
      <div style="display: flex; justify-content: center">Site : <span style="color: red">{{selectedSite}}</span></div>
      <div class="dropdown-holder">


      </div>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-7" style="height: 52vh">
            <ngx-dashboard-site [data]="cellDashboardData" [site]="selectedSite" [chart]="chart" [filter]="filterclick"
                                [myOptions]="myOptions"></ngx-dashboard-site>
          </div>
          <div class="col-md-5" style="height: 52vh">
            <div class="panel panel-default" id="element"
                 style="border: 1px solid #3A3A3A; padding: 0px; border-radius: 15px; height: 16vh; overflow: scroll">
              <div class="panel-body">
                <ul style="padding: 0em">
                  <li *ngFor="let c of myOptions">
                <span class="form-check"
                      [ngStyle]="{'border' : '1px solid' + c.color, 'border-radius' : '2em', 'background-color' : c.color, 'margin' : '5px 5px', 'font-size' : '0.8em', 'text-align' : 'center', 'min-width' : '13em'}">
                   <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="c.check"
                          (ngModelChange)="testcheckfunction(c.name)">
                      <label class="form-check-label" for="flexCheckDefault" style="color: white">
                        {{c.name}}
                      </label>
                </span>

                  </li>
                </ul>
                <!--                <div class="myTest custom-control custom-checkbox">-->
                <!--                  <input type="checkbox" class="custom-control-input" id="customCheck1">-->
                <!--                  <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>-->
                <!--                </div>-->
                <!--                A Basic Panel-->
              </div>
            </div>
            <div class="container" style="margin-top: 1em">
              <table class="table table-fixed">
                <thead>
                <tr>
                  <th  style="width:40%">Cell</th>
                  <th  style="width:20%">value</th>
                  <th  style="width:40%">Chart</th>
                </tr>
                </thead>
                <tbody style="height: 23vh; font-size: 0.8em">
                <tr *ngFor="let cell of list_detashed_cell">
                  <td  style="width:40%">{{cell?.datasets[0]?.label}}</td>
                  <td  style="width:20%; color: red">{{cell?.datasets[0]?.data[cell?.labels?.length -1]}}</td>
                  <td  style="width:40%">
                    <ngx-dashboard-site [data]="cell"  [chart]="chart" style="position: relative; height:10vh; width:10vw" [checkchartcell]="true"
                                        ></ngx-dashboard-site>
                  </td>

                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>



