
  <nb-card *ngIf="!details">
    <nb-card-header>

    </nb-card-header>
    <nb-card-body>
      <ngx-drag-drop (fileUpload)="fileUploadRedirect($event)"></ngx-drag-drop>
    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
  </nb-card>
  <ngx-spinner type="ball-scale-multiple">
    <span style="font-family: 'Courier New', Monospace; font-size: 2em">{{percentDone + "%"}}</span>
    <br />
<!--    <button class="btn-danger" (click)="test()">Cancel</button>-->
  </ngx-spinner>
