<div class="container">
  <input type="file" *ngIf="!file" (change)="getFile($event)"/>
  <img *ngIf="!file" src="assets/img/dnd/ic-upload-file.svg" alt="">
  <img *ngIf="file" src="assets/img/dnd/excel_icon.svg" alt="">

  <h3 *ngIf="!file">Drag and drop file here</h3>
  <h3 *ngIf="file">{{file[0].name}}</h3>

  <h3 *ngIf="!file">or</h3>
  <label *ngIf="!file" for="fileDropRef">Browse for file</label>
  <div class="row">
    <div class="col-sm-6">
      <div (click)="clearFile()">
        <label *ngIf="file" for="fileDropRef">clear file</label>

      </div>
    </div>
    <div class="col-sm-6">
      <div (click)="uploadFile()">
        <label class="success" *ngIf="file" for="fileDropRef">proceed</label>
      </div>
    </div>



  </div>

