<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">OR<span>ANGE</span></a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">

    <!--    <nb-action class="control-item">-->
    <!--      <nb-search type="rotate-layout"></nb-search>-->
    <!--    </nb-action>-->
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline" [nbPopover]="popTemplate"
               nbPopoverPlacement="bottom-end"
               nbPopoverAdjustment="noop"  [badgeText]="true ? '2' : ''" badgeStatus="danger" badgePosition="bottom start">

      <ng-template #popTemplate>
        <div class="card" *ngIf="true" style="width: 15em">
          <div class="card-body">
            <div>
            download<p><ngb-progressbar type="info" [value]="50" [showValue]="true"></ngb-progressbar></p>
            </div>
          </div>
        </div>
      </ng-template>
    </nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>

</div>
