    <chart *ngIf="this.options && showeddata && !checkchartcell" id="myChart" style="position: relative; height:52vh; width:45vw" [type]="chart" width="800px" height="400px" [data]="showeddata" [options]="options"></chart>

    <chart *ngIf="this.optionschartcell && data && checkchartcell" id="myChart" style="position: relative; height:20vh; width:15vw" [type]="chart" width="800px" height="400px" [data]="data" [options]="optionschartcell"></chart>
